<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fireplace_Lv2-Idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,578}</string>
                <key>spriteSourceSize</key>
                <string>{578,578}</string>
                <key>textureRect</key>
                <string>{{0,0},{578,578}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fireplace_Lv2-Idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,578}</string>
                <key>spriteSourceSize</key>
                <string>{578,578}</string>
                <key>textureRect</key>
                <string>{{578,0},{578,578}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fireplace_Lv2-Idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,578}</string>
                <key>spriteSourceSize</key>
                <string>{578,578}</string>
                <key>textureRect</key>
                <string>{{1156,0},{578,578}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bep.png</string>
            <key>size</key>
            <string>{1734,578}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8a2ae8706cac417fbbf7df5d8423c1e:2c39c6f7a34d8d10545dcee4a5c69eeb:fa94ddcc15f1600a57a419014daca783$</string>
            <key>textureFileName</key>
            <string>bep.png</string>
        </dict>
    </dict>
</plist>
