<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0001 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,594}</string>
                <key>spriteSourceSize</key>
                <string>{528,594}</string>
                <key>textureRect</key>
                <string>{{0,0},{528,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0002 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,594}</string>
                <key>spriteSourceSize</key>
                <string>{528,594}</string>
                <key>textureRect</key>
                <string>{{528,0},{528,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0003 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,594}</string>
                <key>spriteSourceSize</key>
                <string>{528,594}</string>
                <key>textureRect</key>
                <string>{{1056,0},{528,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0004 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,594}</string>
                <key>spriteSourceSize</key>
                <string>{528,594}</string>
                <key>textureRect</key>
                <string>{{1584,0},{528,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0005 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,594}</string>
                <key>spriteSourceSize</key>
                <string>{528,594}</string>
                <key>textureRect</key>
                <string>{{0,594},{528,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0006 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,594}</string>
                <key>spriteSourceSize</key>
                <string>{528,594}</string>
                <key>textureRect</key>
                <string>{{528,594},{528,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0007 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,594}</string>
                <key>spriteSourceSize</key>
                <string>{528,594}</string>
                <key>textureRect</key>
                <string>{{1056,594},{528,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0008 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,594}</string>
                <key>spriteSourceSize</key>
                <string>{528,594}</string>
                <key>textureRect</key>
                <string>{{1584,594},{528,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0009 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,594}</string>
                <key>spriteSourceSize</key>
                <string>{528,594}</string>
                <key>textureRect</key>
                <string>{{0,1188},{528,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0010 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,594}</string>
                <key>spriteSourceSize</key>
                <string>{528,594}</string>
                <key>textureRect</key>
                <string>{{528,1188},{528,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0011 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,594}</string>
                <key>spriteSourceSize</key>
                <string>{528,594}</string>
                <key>textureRect</key>
                <string>{{1056,1188},{528,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0012 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,594}</string>
                <key>spriteSourceSize</key>
                <string>{528,594}</string>
                <key>textureRect</key>
                <string>{{1584,1188},{528,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0013 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,594}</string>
                <key>spriteSourceSize</key>
                <string>{528,594}</string>
                <key>textureRect</key>
                <string>{{0,1782},{528,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0014 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,594}</string>
                <key>spriteSourceSize</key>
                <string>{528,594}</string>
                <key>textureRect</key>
                <string>{{528,1782},{528,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0015 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,594}</string>
                <key>spriteSourceSize</key>
                <string>{528,594}</string>
                <key>textureRect</key>
                <string>{{1056,1782},{528,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0016 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,594}</string>
                <key>spriteSourceSize</key>
                <string>{528,594}</string>
                <key>textureRect</key>
                <string>{{1584,1782},{528,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_11_impact.png</string>
            <key>size</key>
            <string>{2112,2376}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e849f00d3d7999044b173ff3ee3d6a5:8e3a38a05c3a5c049d7010170228230b:7a5c5f38107943e6f873f3b6fcdccb55$</string>
            <key>textureFileName</key>
            <string>skill_11_impact.png</string>
        </dict>
    </dict>
</plist>
