<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mslln_22_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{0,0},{480,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mslln_22_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{480,0},{480,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mslln_22_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{0,270},{480,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mslln_22_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{480,270},{480,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mslln_22_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{0,540},{480,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mslln_22_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{480,540},{480,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mslln_22_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{0,810},{480,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mslln_22_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{480,810},{480,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mslln_22_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{0,1080},{480,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mslln_22_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{480,1080},{480,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mslln_22_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{0,1350},{480,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mslln_22_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{480,1350},{480,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mslln_22_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{0,1620},{480,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mslln_22_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{480,1620},{480,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>colorFull_vfx.png</string>
            <key>size</key>
            <string>{960,1890}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f2efa9433efa083bc561bcadeb6155d:28405bbb0d179d9ce089622eef459280:819d56dcc7eb24f63d31eeefd7d87caa$</string>
            <key>textureFileName</key>
            <string>colorFull_vfx.png</string>
        </dict>
    </dict>
</plist>
