<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0001 shot (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,307}</string>
                <key>spriteSourceSize</key>
                <string>{307,307}</string>
                <key>textureRect</key>
                <string>{{0,0},{307,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0002 shot (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,307}</string>
                <key>spriteSourceSize</key>
                <string>{307,307}</string>
                <key>textureRect</key>
                <string>{{307,0},{307,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0003 shot (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,307}</string>
                <key>spriteSourceSize</key>
                <string>{307,307}</string>
                <key>textureRect</key>
                <string>{{614,0},{307,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0004 shot (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,307}</string>
                <key>spriteSourceSize</key>
                <string>{307,307}</string>
                <key>textureRect</key>
                <string>{{921,0},{307,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0005 shot (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,307}</string>
                <key>spriteSourceSize</key>
                <string>{307,307}</string>
                <key>textureRect</key>
                <string>{{1228,0},{307,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0006 shot (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,307}</string>
                <key>spriteSourceSize</key>
                <string>{307,307}</string>
                <key>textureRect</key>
                <string>{{1535,0},{307,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0007 shot (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,307}</string>
                <key>spriteSourceSize</key>
                <string>{307,307}</string>
                <key>textureRect</key>
                <string>{{0,307},{307,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0008 shot (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,307}</string>
                <key>spriteSourceSize</key>
                <string>{307,307}</string>
                <key>textureRect</key>
                <string>{{307,307},{307,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0009 shot (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,307}</string>
                <key>spriteSourceSize</key>
                <string>{307,307}</string>
                <key>textureRect</key>
                <string>{{614,307},{307,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0010 shot (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,307}</string>
                <key>spriteSourceSize</key>
                <string>{307,307}</string>
                <key>textureRect</key>
                <string>{{921,307},{307,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0011 shot (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,307}</string>
                <key>spriteSourceSize</key>
                <string>{307,307}</string>
                <key>textureRect</key>
                <string>{{1228,307},{307,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0012 shot (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,307}</string>
                <key>spriteSourceSize</key>
                <string>{307,307}</string>
                <key>textureRect</key>
                <string>{{1535,307},{307,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0013 shot (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,307}</string>
                <key>spriteSourceSize</key>
                <string>{307,307}</string>
                <key>textureRect</key>
                <string>{{0,614},{307,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0014 shot (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,307}</string>
                <key>spriteSourceSize</key>
                <string>{307,307}</string>
                <key>textureRect</key>
                <string>{{307,614},{307,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0015 shot (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,307}</string>
                <key>spriteSourceSize</key>
                <string>{307,307}</string>
                <key>textureRect</key>
                <string>{{614,614},{307,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0016 shot (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,307}</string>
                <key>spriteSourceSize</key>
                <string>{307,307}</string>
                <key>textureRect</key>
                <string>{{921,614},{307,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0017 shot (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,307}</string>
                <key>spriteSourceSize</key>
                <string>{307,307}</string>
                <key>textureRect</key>
                <string>{{1228,614},{307,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0018 shot (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,307}</string>
                <key>spriteSourceSize</key>
                <string>{307,307}</string>
                <key>textureRect</key>
                <string>{{1535,614},{307,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0019 shot (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,307}</string>
                <key>spriteSourceSize</key>
                <string>{307,307}</string>
                <key>textureRect</key>
                <string>{{0,921},{307,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0020 shot (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,307}</string>
                <key>spriteSourceSize</key>
                <string>{307,307}</string>
                <key>textureRect</key>
                <string>{{307,921},{307,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0021 shot (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,307}</string>
                <key>spriteSourceSize</key>
                <string>{307,307}</string>
                <key>textureRect</key>
                <string>{{614,921},{307,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0022 shot (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,307}</string>
                <key>spriteSourceSize</key>
                <string>{307,307}</string>
                <key>textureRect</key>
                <string>{{921,921},{307,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0023 shot (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,307}</string>
                <key>spriteSourceSize</key>
                <string>{307,307}</string>
                <key>textureRect</key>
                <string>{{1228,921},{307,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0024 shot (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,307}</string>
                <key>spriteSourceSize</key>
                <string>{307,307}</string>
                <key>textureRect</key>
                <string>{{1535,921},{307,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0025 shot (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,307}</string>
                <key>spriteSourceSize</key>
                <string>{307,307}</string>
                <key>textureRect</key>
                <string>{{0,1228},{307,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0026 shot (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,307}</string>
                <key>spriteSourceSize</key>
                <string>{307,307}</string>
                <key>textureRect</key>
                <string>{{307,1228},{307,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0027 shot (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,307}</string>
                <key>spriteSourceSize</key>
                <string>{307,307}</string>
                <key>textureRect</key>
                <string>{{614,1228},{307,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0028 shot (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,307}</string>
                <key>spriteSourceSize</key>
                <string>{307,307}</string>
                <key>textureRect</key>
                <string>{{921,1228},{307,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>duc.png</string>
            <key>size</key>
            <string>{1842,1535}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdfbce7cf67b1efdda90fc83171a5ea5:45a32f97c7422707e6de0e01ceceaf5f:7fce331e559a71970eff13cad5f5db72$</string>
            <key>textureFileName</key>
            <string>duc.png</string>
        </dict>
    </dict>
</plist>
