<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Expl_21_00001 (Copy) (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,265}</string>
                <key>spriteSourceSize</key>
                <string>{470,265}</string>
                <key>textureRect</key>
                <string>{{0,0},{470,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Expl_21_00002 (Copy) (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,265}</string>
                <key>spriteSourceSize</key>
                <string>{470,265}</string>
                <key>textureRect</key>
                <string>{{470,0},{470,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Expl_21_00003 (Copy) (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,265}</string>
                <key>spriteSourceSize</key>
                <string>{470,265}</string>
                <key>textureRect</key>
                <string>{{0,265},{470,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Expl_21_00004 (Copy) (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,265}</string>
                <key>spriteSourceSize</key>
                <string>{470,265}</string>
                <key>textureRect</key>
                <string>{{470,265},{470,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Expl_21_00005 (Copy) (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,265}</string>
                <key>spriteSourceSize</key>
                <string>{470,265}</string>
                <key>textureRect</key>
                <string>{{0,530},{470,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Expl_21_00006 (Copy) (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,265}</string>
                <key>spriteSourceSize</key>
                <string>{470,265}</string>
                <key>textureRect</key>
                <string>{{470,530},{470,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Expl_21_00007 (Copy) (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,265}</string>
                <key>spriteSourceSize</key>
                <string>{470,265}</string>
                <key>textureRect</key>
                <string>{{0,795},{470,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Expl_21_00008 (Copy) (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,265}</string>
                <key>spriteSourceSize</key>
                <string>{470,265}</string>
                <key>textureRect</key>
                <string>{{470,795},{470,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Expl_21_00009 (Copy) (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,265}</string>
                <key>spriteSourceSize</key>
                <string>{470,265}</string>
                <key>textureRect</key>
                <string>{{0,1060},{470,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Expl_21_00010 (Copy) (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,265}</string>
                <key>spriteSourceSize</key>
                <string>{470,265}</string>
                <key>textureRect</key>
                <string>{{470,1060},{470,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Expl_21_00011 (Copy) (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,265}</string>
                <key>spriteSourceSize</key>
                <string>{470,265}</string>
                <key>textureRect</key>
                <string>{{0,1325},{470,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Expl_21_00012 (Copy) (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,265}</string>
                <key>spriteSourceSize</key>
                <string>{470,265}</string>
                <key>textureRect</key>
                <string>{{470,1325},{470,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Expl_21_00013 (Copy) (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,265}</string>
                <key>spriteSourceSize</key>
                <string>{470,265}</string>
                <key>textureRect</key>
                <string>{{0,1590},{470,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Expl_21_00014 (Copy) (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,265}</string>
                <key>spriteSourceSize</key>
                <string>{470,265}</string>
                <key>textureRect</key>
                <string>{{470,1590},{470,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>no2.png</string>
            <key>size</key>
            <string>{940,1855}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a121c1f42a419939e7b716c7442671c:0292797d735655f27ae0c7ff99171ecc:a3fae66c0b6402a5e836f90f83908bc6$</string>
            <key>textureFileName</key>
            <string>no2.png</string>
        </dict>
    </dict>
</plist>
