<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Spark_03_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{0,0},{480,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spark_03_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{480,0},{480,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spark_03_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{960,0},{480,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spark_03_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{1440,0},{480,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spark_03_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{0,270},{480,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spark_03_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{480,270},{480,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spark_03_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{960,270},{480,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spark_03_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{1440,270},{480,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spark_03_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{0,540},{480,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spark_03_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{480,540},{480,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spark_03_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{960,540},{480,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spark_03_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{1440,540},{480,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spark_03_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{0,810},{480,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spark_03_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{480,810},{480,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spark_03_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{960,810},{480,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spark_03_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{1440,810},{480,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spark_03_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{0,1080},{480,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spark_03_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{480,1080},{480,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spark_03_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{960,1080},{480,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spark_03_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{1440,1080},{480,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>phaohoa2.png</string>
            <key>size</key>
            <string>{1920,1350}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af9be5eb858c98c2e5b98dc9349d4310:f2c33522237ff92aa2d47c99313b08a1:5f22b3b0ebfe16b688783c9f4bbbb37e$</string>
            <key>textureFileName</key>
            <string>phaohoa2.png</string>
        </dict>
    </dict>
</plist>
