<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0019 shot (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0021 shot (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,515},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0023 shot (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1029},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0025 shot (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{515,1},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0027 shot (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1029,1},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0029 shot (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{515,515},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0031 shot (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{515,1029},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0033 shot (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1029,515},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0035 shot (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1029,1029},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>phaogiay-1.png</string>
            <key>size</key>
            <string>{1542,1542}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22d5e94a3258992947091e4ad1426e12:75a786cebfd79caed37d402aaa284c64:bd406fcd64b5384adbb88291bf387fd9$</string>
            <key>textureFileName</key>
            <string>phaogiay-1.png</string>
        </dict>
    </dict>
</plist>
