<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vfx_revive_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{508,503}</string>
                <key>spriteSourceSize</key>
                <string>{508,503}</string>
                <key>textureRect</key>
                <string>{{1,1011},{508,503}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vfx_revive_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{508,503}</string>
                <key>spriteSourceSize</key>
                <string>{508,503}</string>
                <key>textureRect</key>
                <string>{{511,1011},{508,503}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vfx_revive_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{508,503}</string>
                <key>spriteSourceSize</key>
                <string>{508,503}</string>
                <key>textureRect</key>
                <string>{{1021,1011},{508,503}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vfx_revive_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{508,503}</string>
                <key>spriteSourceSize</key>
                <string>{508,503}</string>
                <key>textureRect</key>
                <string>{{1531,1011},{508,503}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vfx_revive_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{508,503}</string>
                <key>spriteSourceSize</key>
                <string>{508,503}</string>
                <key>textureRect</key>
                <string>{{1,1516},{508,503}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vfx_revive_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{508,503}</string>
                <key>spriteSourceSize</key>
                <string>{508,503}</string>
                <key>textureRect</key>
                <string>{{511,1516},{508,503}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vfx_revive_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{508,503}</string>
                <key>spriteSourceSize</key>
                <string>{508,503}</string>
                <key>textureRect</key>
                <string>{{1021,1516},{508,503}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vfx_revive_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{508,503}</string>
                <key>spriteSourceSize</key>
                <string>{508,503}</string>
                <key>textureRect</key>
                <string>{{1531,1516},{508,503}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vfx_revive_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{508,503}</string>
                <key>spriteSourceSize</key>
                <string>{508,503}</string>
                <key>textureRect</key>
                <string>{{1,1},{508,503}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vfx_revive_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{508,503}</string>
                <key>spriteSourceSize</key>
                <string>{508,503}</string>
                <key>textureRect</key>
                <string>{{511,1},{508,503}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vfx_revive_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{508,503}</string>
                <key>spriteSourceSize</key>
                <string>{508,503}</string>
                <key>textureRect</key>
                <string>{{1021,1},{508,503}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vfx_revive_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{508,503}</string>
                <key>spriteSourceSize</key>
                <string>{508,503}</string>
                <key>textureRect</key>
                <string>{{1531,1},{508,503}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vfx_revive_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{508,503}</string>
                <key>spriteSourceSize</key>
                <string>{508,503}</string>
                <key>textureRect</key>
                <string>{{1,506},{508,503}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vfx_revive_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{508,503}</string>
                <key>spriteSourceSize</key>
                <string>{508,503}</string>
                <key>textureRect</key>
                <string>{{511,506},{508,503}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vfx_revive_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{508,503}</string>
                <key>spriteSourceSize</key>
                <string>{508,503}</string>
                <key>textureRect</key>
                <string>{{1021,506},{508,503}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vfx_revive_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{508,503}</string>
                <key>spriteSourceSize</key>
                <string>{508,503}</string>
                <key>textureRect</key>
                <string>{{1531,506},{508,503}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>vfx_building_upgrade-0.png</string>
            <key>size</key>
            <string>{2040,2020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77646b22c2c778b68982a99ec8553a53:daa9dbc3897d76495e79425bba9f2ae6:5a2c5241cd0f1b1b35c68d7e639f6017$</string>
            <key>textureFileName</key>
            <string>vfx_building_upgrade-0.png</string>
        </dict>
    </dict>
</plist>
