<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0001 shot (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,324}</string>
                <key>spriteSourceSize</key>
                <string>{288,324}</string>
                <key>textureRect</key>
                <string>{{1,1},{288,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0002 shot (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,324}</string>
                <key>spriteSourceSize</key>
                <string>{288,324}</string>
                <key>textureRect</key>
                <string>{{291,1},{288,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0003 shot (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,324}</string>
                <key>spriteSourceSize</key>
                <string>{288,324}</string>
                <key>textureRect</key>
                <string>{{581,1},{288,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0004 shot (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,324}</string>
                <key>spriteSourceSize</key>
                <string>{288,324}</string>
                <key>textureRect</key>
                <string>{{1,327},{288,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0005 shot (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,324}</string>
                <key>spriteSourceSize</key>
                <string>{288,324}</string>
                <key>textureRect</key>
                <string>{{291,327},{288,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0006 shot (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,324}</string>
                <key>spriteSourceSize</key>
                <string>{288,324}</string>
                <key>textureRect</key>
                <string>{{581,327},{288,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0007 shot (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,324}</string>
                <key>spriteSourceSize</key>
                <string>{288,324}</string>
                <key>textureRect</key>
                <string>{{1,653},{288,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0008 shot (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,324}</string>
                <key>spriteSourceSize</key>
                <string>{288,324}</string>
                <key>textureRect</key>
                <string>{{291,653},{288,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>vfx_chatGo.png</string>
            <key>size</key>
            <string>{870,978}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ff6112bd93284f4af6d2000f255aae5:95806171ec70a7cc5ee2cc3286b159c3:3cdb2f05e52fb4b8317456866a3cf7d3$</string>
            <key>textureFileName</key>
            <string>vfx_chatGo.png</string>
        </dict>
    </dict>
</plist>
