<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Machine_Rip-Attack_2_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,147}</string>
                <key>spriteSourceSize</key>
                <string>{200,147}</string>
                <key>textureRect</key>
                <string>{{1,1},{200,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Machine_Rip-Attack_2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,147}</string>
                <key>spriteSourceSize</key>
                <string>{200,147}</string>
                <key>textureRect</key>
                <string>{{1,150},{200,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Machine_Rip-Attack_2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,147}</string>
                <key>spriteSourceSize</key>
                <string>{200,147}</string>
                <key>textureRect</key>
                <string>{{1,299},{200,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Machine_Rip-Attack_2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,147}</string>
                <key>spriteSourceSize</key>
                <string>{200,147}</string>
                <key>textureRect</key>
                <string>{{1,448},{200,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Machine_Rip-Attack_2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,147}</string>
                <key>spriteSourceSize</key>
                <string>{200,147}</string>
                <key>textureRect</key>
                <string>{{1,597},{200,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Machine_Rip-Attack_2_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,147}</string>
                <key>spriteSourceSize</key>
                <string>{200,147}</string>
                <key>textureRect</key>
                <string>{{1,746},{200,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Machine_Rip-Attack_2_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,147}</string>
                <key>spriteSourceSize</key>
                <string>{200,147}</string>
                <key>textureRect</key>
                <string>{{1,895},{200,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Machine_Rip-Attack_2_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,147}</string>
                <key>spriteSourceSize</key>
                <string>{200,147}</string>
                <key>textureRect</key>
                <string>{{1,1044},{200,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Machine_Rip-Attack_2_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,147}</string>
                <key>spriteSourceSize</key>
                <string>{200,147}</string>
                <key>textureRect</key>
                <string>{{1,1193},{200,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Machine_Rip-Attack_2_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,147}</string>
                <key>spriteSourceSize</key>
                <string>{200,147}</string>
                <key>textureRect</key>
                <string>{{1,1342},{200,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Machine_Rip-Attack_2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,147}</string>
                <key>spriteSourceSize</key>
                <string>{200,147}</string>
                <key>textureRect</key>
                <string>{{1,1491},{200,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wood_split.png</string>
            <key>size</key>
            <string>{202,1639}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b79caf43b492d26b0abcc9396a3b8fe6:7ae14a424e882e519b079f6c8d112720:355af47c0c3499befc488b7d9cc1e36c$</string>
            <key>textureFileName</key>
            <string>wood_split.png</string>
        </dict>
    </dict>
</plist>
