<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Electric01.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,104},{180,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,103}}</string>
				<key>sourceSize</key>
				<string>{180,103}</string>
			</dict>

			<key>Electric03.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,0},{180,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,103}}</string>
				<key>sourceSize</key>
				<string>{180,103}</string>
			</dict>

			<key>Electric05.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,520},{180,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,103}}</string>
				<key>sourceSize</key>
				<string>{180,103}</string>
			</dict>

			<key>Electric07.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,208},{180,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,103}}</string>
				<key>sourceSize</key>
				<string>{180,103}</string>
			</dict>

			<key>Electric09.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,312},{180,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,103}}</string>
				<key>sourceSize</key>
				<string>{180,103}</string>
			</dict>

			<key>Electric11.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,208},{180,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,103}}</string>
				<key>sourceSize</key>
				<string>{180,103}</string>
			</dict>

			<key>Electric13.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,104},{180,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,103}}</string>
				<key>sourceSize</key>
				<string>{180,103}</string>
			</dict>

			<key>Electric15.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,0},{180,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,103}}</string>
				<key>sourceSize</key>
				<string>{180,103}</string>
			</dict>

			<key>Electric17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,520},{180,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,103}}</string>
				<key>sourceSize</key>
				<string>{180,103}</string>
			</dict>

			<key>Electric19.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,416},{180,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,103}}</string>
				<key>sourceSize</key>
				<string>{180,103}</string>
			</dict>

			<key>Electric21.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,312},{180,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,103}}</string>
				<key>sourceSize</key>
				<string>{180,103}</string>
			</dict>

			<key>Electric23.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,208},{180,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,103}}</string>
				<key>sourceSize</key>
				<string>{180,103}</string>
			</dict>

			<key>Electric25.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,104},{180,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,103}}</string>
				<key>sourceSize</key>
				<string>{180,103}</string>
			</dict>

			<key>Electric27.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{180,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,103}}</string>
				<key>sourceSize</key>
				<string>{180,103}</string>
			</dict>

			<key>Electric29.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,416},{180,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,103}}</string>
				<key>sourceSize</key>
				<string>{180,103}</string>
			</dict>

			<key>Electric31.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,104},{180,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,103}}</string>
				<key>sourceSize</key>
				<string>{180,103}</string>
			</dict>

			<key>Electric33.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,0},{180,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,103}}</string>
				<key>sourceSize</key>
				<string>{180,103}</string>
			</dict>

			<key>Electric35.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,520},{180,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,103}}</string>
				<key>sourceSize</key>
				<string>{180,103}</string>
			</dict>

			<key>Electric37.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,416},{180,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,103}}</string>
				<key>sourceSize</key>
				<string>{180,103}</string>
			</dict>

			<key>Electric39.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,312},{180,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,103}}</string>
				<key>sourceSize</key>
				<string>{180,103}</string>
			</dict>

			<key>Electric41.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,208},{180,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,103}}</string>
				<key>sourceSize</key>
				<string>{180,103}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{724,624}</string>
			<key>textureFileName</key>
			<string>electric.png</string>
			</dict>
		</dict>
</plist>