<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{0,0},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{270,0},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{540,0},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{810,0},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{1080,0},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{1350,0},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{0,480},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{270,480},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{540,480},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{810,480},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{1080,480},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{1350,480},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{0,960},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{270,960},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{540,960},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{810,960},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{1080,960},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chef_sau1.png</string>
            <key>size</key>
            <string>{1620,1440}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a205ff40becb6da4d1b6694dcb6de0b0:b5c12f1996e8d10a5cc772722c86ac3c:524b06a83ed4bdcabcc8c1eae39fce38$</string>
            <key>textureFileName</key>
            <string>chef_sau1.png</string>
        </dict>
    </dict>
</plist>
