<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{0,0},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{270,0},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{540,0},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{810,0},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{1080,0},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{1350,0},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{1620,0},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{0,480},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{270,480},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{540,480},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{810,480},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{1080,480},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{1350,480},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{1620,480},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{0,960},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{270,960},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{540,960},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{810,960},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{1080,960},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{1350,960},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{1620,960},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{0,1440},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{270,1440},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{540,1440},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0072.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{810,1440},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0075.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{1080,1440},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0078.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{1350,1440},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0080.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{1620,1440},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chef_idle.png</string>
            <key>size</key>
            <string>{1890,1920}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e44ae790928b28332ece7a667271f5a:ae2e783dd5a258fcd50a0efdb111b8fe:b4bfb04d5f0fa19764bec4a3f80fd2dd$</string>
            <key>textureFileName</key>
            <string>chef_idle.png</string>
        </dict>
    </dict>
</plist>
