<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{0,0},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{270,0},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{540,0},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{810,0},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{1080,0},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{1350,0},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{1620,0},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{0,480},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{270,480},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{540,480},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{810,480},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{1080,480},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{1350,480},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{1620,480},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{0,960},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{270,960},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{540,960},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{810,960},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{1080,960},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{1350,960},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{1620,960},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{0,1440},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{270,1440},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{540,1440},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0073.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{810,1440},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0076.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{1080,1440},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0079.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{1350,1440},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0080.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,480}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{1620,1440},{270,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kh1.png</string>
            <key>size</key>
            <string>{1890,1920}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed543fc6d49ea6cd9ce29ed476bc7a85:e3b925cf102930547e55ec5f9076f405:38ba226ae5841dbba7eb43e0092ea34f$</string>
            <key>textureFileName</key>
            <string>kh1.png</string>
        </dict>
    </dict>
</plist>
