<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tải-xuống---2024-03-25T092525_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,306}</string>
                <key>spriteSourceSize</key>
                <string>{305,306}</string>
                <key>textureRect</key>
                <string>{{1,1},{305,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tải-xuống---2024-03-25T092525_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,306}</string>
                <key>spriteSourceSize</key>
                <string>{304,306}</string>
                <key>textureRect</key>
                <string>{{308,1},{304,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tải-xuống---2024-03-25T092525_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,306}</string>
                <key>spriteSourceSize</key>
                <string>{305,306}</string>
                <key>textureRect</key>
                <string>{{614,1},{305,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tải-xuống---2024-03-25T092525_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,306}</string>
                <key>spriteSourceSize</key>
                <string>{304,306}</string>
                <key>textureRect</key>
                <string>{{921,1},{304,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tải-xuống---2024-03-25T092525_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,306}</string>
                <key>spriteSourceSize</key>
                <string>{305,306}</string>
                <key>textureRect</key>
                <string>{{1227,1},{305,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>touch.png</string>
            <key>size</key>
            <string>{1533,308}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:902b4741861aa2e758f0f24663e56433:92aee2744f22eff76b81c6fb8c5efb29:ee3632aa48f8e35db8846fdacc912e77$</string>
            <key>textureFileName</key>
            <string>touch.png</string>
        </dict>
    </dict>
</plist>
