<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>31003008_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,85}</string>
                <key>spriteSourceSize</key>
                <string>{151,85}</string>
                <key>textureRect</key>
                <string>{{0,0},{151,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>31003008_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,86}</string>
                <key>spriteSourceSize</key>
                <string>{135,86}</string>
                <key>textureRect</key>
                <string>{{157,0},{135,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>31003008_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,130}</string>
                <key>spriteSourceSize</key>
                <string>{157,130}</string>
                <key>textureRect</key>
                <string>{{314,0},{157,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>carrot.png</string>
            <key>size</key>
            <string>{471,130}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:158ab22790cb5eb7c415d9d73bed72a3:7de4396c82b652bb0c52c55564538d9d:94068d3148ff23872ad80f93c74174a7$</string>
            <key>textureFileName</key>
            <string>carrot.png</string>
        </dict>
    </dict>
</plist>
