<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>31003002_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,97}</string>
                <key>spriteSourceSize</key>
                <string>{173,97}</string>
                <key>textureRect</key>
                <string>{{0,0},{173,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>31003002_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,122}</string>
                <key>spriteSourceSize</key>
                <string>{138,122}</string>
                <key>textureRect</key>
                <string>{{173,0},{138,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>31003002_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,136}</string>
                <key>spriteSourceSize</key>
                <string>{151,136}</string>
                <key>textureRect</key>
                <string>{{346,0},{151,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>corn.png</string>
            <key>size</key>
            <string>{519,136}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22f1d11d794fab31327d2c4fed8ec03a:82df5d8eaa614e41a12ea39c55d31be5:15e1382b9b4591db2f468e75665bb988$</string>
            <key>textureFileName</key>
            <string>corn.png</string>
        </dict>
    </dict>
</plist>
